---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.feature__wrapper {
    margin-bottom: 0;
    border-bottom: 0;
}

.img-75 {
  width: 75%;
  border-radius: $border-radius;
  -webkit-transition: $global-transition;
  transition: $global-transition;
}

.img-50 {
  width: 50%;
  border-radius: $border-radius;
  -webkit-transition: $global-transition;
  transition: $global-transition;
}
